body {
    background-color: rgba(1, 1, 0, 0.92);
}

/* Top with name and menu button started here */

.top {
    height: 50rem;
}

.left {
    position: relative;
    float: left;
    width: 300px;
    top: 30%;
    filter: drop-shadow(1rem 1rem 1rem #000000);
    animation: slideInLeft 2s;
    animation-fill-mode: forwards;
}

@keyframes slideInLeft {
    from {
        left: -50rem;
    }
    to {
        left: 0;
    }
}

.right {
    position: relative;
    float: right;
    width: 300px;
    top: 8%;
    filter: drop-shadow(0 1rem 1rem #000000);
    animation: slideInRight 2s;
    animation-fill-mode: forwards;
}

@keyframes slideInRight {
    from {
        right: -50rem;
    }
    to {
        right: 0;
    }
}

.right-small {
    display: none;
}

.top .title {
    position: relative;
    top: 10%;
    opacity: 0;
    animation: appear 2s;
    animation-fill-mode: forwards;
}

.top .title h {
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    font-size: 10vw;
    text-align: center;
    color: #FFFFFF;
    text-shadow: -0.5rem 0.5rem rgba(107, 72, 40, 0.67);
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.top .title h span {
    display: block;
}

.top .menu {
    position: relative;
    top: 12rem;
    width: 50%;
    margin: 0 auto;
    background-color: #FFFFFF;
    animation: appear 2s;
    animation-fill-mode: forwards;
}

.top .menu button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-align: center;
    padding: 0.5rem 2.5rem;
    background: rgba(68, 54, 41, 0.67);
    color: white;
    font-family: Courgette;
    font-size: 3vw;
    border-radius: 30px;
}

.top .menu button:hover {
    background: rgba(107, 72, 40, 0.67);;
}

/* Top with name and menu button ended here */

/* Picture started here */

.frame {
    position: relative;
    top: 6rem;
    margin: auto;
    width: 80%;
    height: 30rem;
    border: 2px solid #F6DDB8;
    border-radius: 43px;
    padding: 3rem 1rem;
    animation: appear 2s;
    animation-fill-mode: forwards;
}

.pho {
    width: 100%;
    height: 100%;
}

/* Picture ended here */

/* Menu title started here */

.menu-title {
    position: relative;
    top: 18rem;
}

.menu-title h1 {
    font-family: Merienda;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 7vw;
    color: white;
}

.menu-title h1 span {
    color: #F6DDB8;
}

/* Menu title ended here */

/* Menu started here */

.menu-choices {
    position: relative;
    top: 20rem;
    border-top: 1px dashed #F6DDB8;
    border-bottom: 1px dashed #F6DDB8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.menu-button {
    cursor: pointer;
    width: fit-content;
    text-align: center;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.67);
    color: white;
    font-family: Courgette;
    font-size: 2vw;
    border-radius: 30px;
    margin: 1rem;
    border: 1px solid #C4FF96;
}

.menu-button.active,
.menu-button:hover {
    background: rgba(196, 255, 150, 0.67);
    border: 1px solid #000000;
    color: black;
}

.menu-des {
    position: relative;
    top: 25rem;
}

.menu-des .info {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    transform: scale(0.9);
    opacity: 0;
    transition: opacity 500ms ease-in-out 0ms,
                transform 500ms ease-in-out 0ms;
}

.info.active {
    opacity: 1;
    transform: scale(1);
}

.info .menu-image {
    padding: 2rem;
    margin: 2rem;
}

.info .menu-image img {
    width: 28rem;
    border-radius: 30px;
    filter: drop-shadow(1rem 1rem 1rem rgba(100, 89, 89, 0.25));
}

.info .content {
    padding: 1rem 2rem;
}

.info .content h3 {
    color: #C4FF96;
    font-family: Courgette;
    font-size: 3.5vh;
    font-weight: 400;
}

.info .content span {
    color: white;
}

.info .content p {
    font-family: Courgette;
    font-size: 2vh;
    color: #ada8a8;
}

/* Menu ended here */

/* Hour started here */

.hour {
    position: relative;
    top: 75rem;
}

.hour .back-2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    animation: rotate 4s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-45deg);
    }
    to {
        transform: rotate(360deg)
    }
}

.hour .back-1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 8.5rem;
}

.price {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 385px;
    top: 8.5rem;
}

.price h3 {
    font-family: Courgette;
    font-size: 55px;
    text-align: center;
    color: #C7F8A1;
}

.price .day {
    float: left;
    width: 30%;
    font-weight: 900;
}

.price .time {
    float: left;
    width: 70%;
}

.price p {
    position: relative;
    font-family: 'Cormorant Upright';
    font-size: 33px;
    text-align: center;
    color: #FFFFFF;
    line-height: 6px;
    top: -3rem;
    left: 1rem;
}

/* Hour ended here */

.foot {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 145rem;
    background: #C3B49D;
    height: 35rem;
    text-align: center;
}

.foot .column {
    float: left;
    width: 50%;
    padding: 2rem;
}

.foot .column p1 {
    font-family: Courgette;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #203E19;
}

.foot .column p {
    font-family: Courgette;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #413E3C;
}

.deliver {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deliver .doordash {
    width: 150px;
    height: 150px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

.deliver .uber {
    position: relative;
    width: 130px;
    height: 130px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.25));
}

.column iframe {
    width: 400px;
    height: 400px;
    filter: invert(100%) drop-shadow(50px 50px 10px rgba(0, 0, 0, 0.25));
    border-radius: 45px;
}


/* Desktop */
@media screen and (max-width: 2560px) {
   
}

/* Laptop L */
@media screen and (max-width: 1440px) {
    .top .title {
        position: relative;
        top: 15%;
    }
    .top .menu {
        top: 14rem;
    }
    .left {
        width: 18rem;
    }
    .right {
        width: 18rem;
    }
    .menu-title {
        top: 15rem;
    }
    .hour {
        top: 90rem;
    }
}

/* Laptop */
@media screen and (max-width: 1024px) {
    .left {
        display: none;
    }
    .right {
        display: none;
    }
    .right-small {
        display: block;
        position: absolute;
        width: 60%;
        left: 50%;
        transform: translate(-50%, -20%);
        animation: slideDown 2s;
        animation-fill-mode: forwards;
    }
    .top .title {
        top: 33%;
    }
    .top .title h {
        font-size: 12vw;
        text-align: center;
    }
    .top .menu {
        top: 22rem;
    }
    @keyframes slideDown {
        from {
            top: -50rem;
        }
        to {
            top: 0;
        }  
    }
    .frame {
        top: 4rem;
    }
    .menu-title {
        top: 13rem;
    }
    .menu-title h1 {
        font-size: 8vw;
    }
    .hour {
        top: 80rem;
    }
    .hour .back-2 {
        display: none;
    } 
}

/* Tablet */
@media screen and (max-width: 768px) {
    .right-small {
        width: 70%;
    }
    .top .title {
        top: 31%;
    }
    .top .title h {
        font-size: 17vw;
    }
    .top .menu {
        top: 22rem;
    }
    .top .menu button {
        font-size: 4vw;
    }
    .frame {
        top: 3rem;
        height: 25rem;
        padding: 2rem 1rem;
        width: 75%;
    }
    .menu-title {
        top: 10rem;
    }
    .menu-title h1 {
        font-size: 9vw;
    }
    .menu-choices {
        top: 15rem;
    }
    .menu-button {
        font-size: 3vw;
    }
    .menu-des {
        top: 20rem;
    }
    .hour {
        top: 75rem;
    }
}
/* Mobile L */
@media screen and (max-width: 500px) {
    .right-small {
        width: 80%;
    }
    .top .title {
        top: 30%;
    }
    .top .title h {
        font-size: 19vw;
    }
    .top .menu button {
        font-size: 7vw;
    }
    .frame {
        top: 1rem;
        width: 90%;
        height: 17rem;
        border: 1px solid #F6DDB8;
    }
    .top {
        height: 48rem;
    }
    .menu-title {
        top: 9rem;
    }
    .menu-title h1 {
        font-size: 12vw;
    }
    .menu-choices {
        top: 13rem;
    }
    .menu-button {
        font-size: 4vw;
    }
    .menu-des {
        top: 16rem;
    }
    .info .menu-image img {
        width: 20rem;
    }
    .hour {
        top: 65rem;
    }
  
    .back-1 {
        display: none;
    }

    .info .content h3 {
        font-size: 3vh;
    }
    
    .info .content p {
        font-size: 2vh;
    }

    .border {
        position: relative;
        width: 300px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(250, 186, 128, 0.56);
        opacity: 0.3;
        top: 10rem;
    }

    .price{
        width: 280px;
    }
    
    .price h3 {
        font-family: Courgette;
        font-size: 50px;
        text-align: center;
        color: #C7F8A1;
    }
    
    .price p {
        position: relative;
        font-family: 'Cormorant Upright';
        font-size: 28px;
        text-align: center;
        color: #FFFFFF;
        line-height: 6px;
        top: -3rem;
    }
}
/* Mobile M */
@media screen and (max-width: 375px) {
    .top .title {
        top: 24%;
    }
    .top .menu {
        top: 19rem;
    }
    .top .menu button {
        font-size: 7vw;
    }
    .top {
        height: 40rem;
    }
    .frame {
        height: 13rem;
        width: 80%;
        padding: 1.5rem 1rem;
    } 
    .menu-title {
        top: 7rem;
    }
    .menu-choices {
        top: 12rem;
    }
    .menu-title h1 {
        font-size: 10vw;
    }
    .menu-button {
        font-size: 4vw;
    }
    .menu-des {
        top: 14rem;
    }
    .info .menu-image img {
        width: 18rem;
    }
    .hour {
        top: 60rem;
    }
    .border {
        width: 250px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(250, 186, 128, 0.56);
        opacity: 0.2;
        top: 1.3rem;
    }

    .price{
        top: 0rem;
    }
    
    .price h3 {
        font-family: Courgette;
        font-size: 40px;
        text-align: center;
        color: #C7F8A1;
    }
    
    .price p {
        position: relative;
        font-family: 'Cormorant Upright';
        font-size: 24px;
        text-align: center;
        color: #FFFFFF;
        line-height: 6px;
        top: -3rem;
    }
}
/* Mobile S */
@media screen and (max-width: 320px) {
    .top .title {
        top: 20%;
    }
    .top .menu {
        top: 12rem;
    }
    .top {
        height: 30rem;
    }
    .frame {
        top: 0;
        height: 10rem;
    } 
    .menu-title {
        top: 5rem;
    }
    .menu-title h1 {
        font-size: 11vw;
    }
    .menu-choices {
        top: 10rem;
    }
    .menu-des {
        top: 13rem;
    }
    .info .menu-image img {
        width: 14em;
    }
    .hour {
        top: 53rem;
    }
}


